.p-mainvisual {
  &__wrapper {
  // position: relative;
}
&__layer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3.5rem;
  background: url(../images/mv_mobile608x800@2x.jpg);
  background-position: 100% 100%;
  background-size: cover;
  height: calc(285 / 375 * 100vw);
  // padding: calc(120 / 834 *100vw) 3.5em;
  }
  &__title {
    font-size: 3.6rem ;
    color: #fff;
  }
}

// .layer-in{
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   margin: auto;
// }
// .layer-bg{
//   height: 300px;
// }
// .layer-in{
//   width: 300px;
//   height: 100px;
// }
// .layer-txt{
//   font-size: 2rem;
// }


.p-mainvisual__tittle {
  position: absolute;
}