.p-main-visual {
  width: 100%;
  // height: 100px;
  background: yellow;
  padding: 100px;
  // background-image: url(../asset/images/mv_mobile_800x1128@2x.jpg);
  // display: flex;
  // align-items: center;
}