.p-card {
  $pd-r: 1.7rem;
  &__body {
    background-color: #3C2B1C;
    color: #fff;
    padding: 3.15rem $pd-r;
    min-height: 354px;
  }
  &__title {
    margin-bottom: 2.4rem;
    font-size: 2rem;
  }
  &__sub-title {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  &__text {
    margin-bottom: 0;
    padding-right: calc(7.3rem - #{$pd-r});
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.44em;
    margin-bottom: 4rem;
  }
  &__btn-area {
    text-align: center;
    margin-bottom: 1rem;
  }
}