.p-textBox {
  color: #3C2A10;
  &__title {
    font-size: 2.2rem;
  }
  // &__description {
  //   @extend .p-textBox;
  //   background-color: rgba($color: #fff, $alpha: .8);
  // }
  &--bgc-white {
    @extend .p-textBox;
    background-color: rgba($color: #fff, $alpha: .8);
  }
}