.p-text-bar {
  position: relative;
  display: inline-block;
  font-family: Roboto;
  font-size: 41px;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    bottom: -30%;
    left: 0%;
    width: 2rem;
    height: 4px;
    background-color: #fff;
  }
  &--long {
    @extend .p-text-bar;
    font-family: "M+ 1p";
    font-size: 30px;
    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0%;
      width: 7.5rem;
      height: 2px;
      // background-color: #fff;
    }
  }
}
