.l-global-container {
  // display: flex;
  // flex-flow: column;
  max-width: 1920px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  &.js-is_open{
    &::after {
      content: '';
      position: absolute;
      top: 0%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: .6);
    }
  }
}
.l-container {
  display: block;
}

.l-container__left {
  flex: 81;
  // padding: 100px;
  // height: 100px;
  // background: yellow;
  &__container {
    display: flex;
    flex-flow: column;
  }
}

.l-container__right {
  $width: 15%;
  display: block;
  position: absolute;
  top: 0;
  left: 100% + $width;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: left .3s;
  &.js-is_open {
    left: $width;
  }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0%;
  //   left: -$width;
  //   height: 100%;
  //   width: $width;
  //   background-color: rgba($color: #000000, $alpha: .6);
  // }
}

.c-section__container {
  padding: 20px 20px;
}